{% extends "layout.html" %}

{% block title %}
    Buy Stock Shares
{% endblock %}

{% block main %}
    {# Form that allows users to buy stocks #}
    <p>{% if success %}Stock Purchased{% endif %}</p>
    <form action="/buy" method="POST">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Stock Symbol" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number to buy" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buy Shares</button>
    </form>
{% endblock %}
