{% extends "layout.html" %}

{% block title %}
    Sell Stock Shares
{% endblock %}

{% block main %}
    {# Form that allows users to sell stocks #}
    <p>{% if success %}Stock Sold{% endif %}</p>
    <form action="/sell" method="POST">
        <div class="mb-3">
            <select autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol">
              <option value="">-- Select Stock Symbol --</option>
            {% for stock in stocks %}
              <option value="{{ stock['share'] }}">{{ stock['share'] }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number to sell" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell Shares</button>
    </form>
{% endblock %}
