@*
    Graeson Thomas | IS370
*@
@{
    ViewBag.Title = "About";
}
<h2>About Graeson Thomas</h2>
<p>
    The above header and this paragraph generate from About.cshtml file.
    The remaining content generates from the shared Razor layout file.
</p>

<h2>My family's dogs</h2>
<img class="img-fluid rounded" src="~/Images/20231112_105246.png" />
<p>Tito on the left and Jameson on the right.</p>
